<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myProdServ</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>myProdServ</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.example.myProdServ.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegServlet</display-name>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.example.myProdServ.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BackUpServlet</display-name>
    <servlet-name>BackUpServlet</servlet-name>
    <servlet-class>com.example.myProdServ.BackUpServlet</servlet-class>
  </servlet>
    <servlet>
    <description></description>
    <display-name>GetBackServlet</display-name>
    <servlet-name>GetBackServlet</servlet-name>
    <servlet-class>com.example.myProdServ.GetBackServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>GetBackServlet</servlet-name>
    <url-pattern>/GetBackServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>ReStoreServlet</display-name>
    <servlet-name>ReStoreServlet</servlet-name>
    <servlet-class>com.example.myProdServ.ReStoreServlet</servlet-class>
  </servlet>
    <servlet-mapping>
    <servlet-name>ReStoreServlet</servlet-name>
    <url-pattern>/ReStoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BackUpServlet</servlet-name>
    <url-pattern>/BackUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProdDBServlet</display-name>
    <servlet-name>ProdDBServlet</servlet-name>
    <servlet-class>com.example.myProdServ.ProdDBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProdDBServlet</servlet-name>
    <url-pattern>/ProdDBServlet</url-pattern>
  </servlet-mapping>
</web-app>